.section {
  /* background: #000; */
  padding: 80px 0 0 0;
}

/* =============================
   Block
============================= */

.block {
  margin-bottom: 160px;
}

/* =============================
   Heading
============================= */

.heading {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: var(--color-yellow);
  margin-bottom: 80px;
}

/* =============================
   Grid
============================= */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px;
}

/* =============================
   Card
============================= */

.card {
  /* background: #111; */
  border-radius: 24px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;

  transition: transform 0.4s ease;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* للشهادات اللي مقاسها مختلف */
.autoHeight {
  align-items: flex-start;
}

/* =============================
   Responsive
============================= */

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .heading {
    font-size: 28px;
  }
}