.page {
  direction: rtl;
  padding-top: 140px; /* عشان Navbar absolute */
  padding-bottom: 140px;
  /* background: #0f0f0f; */
  background-image: url('../../../public/assets/pattern_result.webp');
  background-position: cover cover;
  background-repeat: repeat;
  background-size: contain;
  overflow-x: hidden;  min-height: 100vh;
}

/* ================= Header ================= */

.header {
  margin-bottom: 80px;
  text-align: right;
}

.title {
  font-size: 48px;
  font-weight: 700;
  color: var(--color-yellow);
  margin-bottom: 16px;
}

.line {
  width: 120px;
  height: 3px;
  background: var(--color-yellow);
}

/* ================= Cards ================= */

.cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Card */

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 32px 40px;
  border-radius: 24px;

  background: #161616;
  border: 1px solid rgba(246, 255, 0, 0.15);

  text-decoration: none;
  color: var(--color-yellow);

  transition: all 0.3s ease;
}

.card:hover {
  background: rgba(246, 255, 0, 0.06);
  transform: translateY(-6px);
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.6);
}

/* Icon */

.icon {
  width: 60px;
  height: 60px;
  border-radius: 16px;

  background: var(--color-yellow);
  color: #000;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;
}

/* Name */

.name {
  flex: 1;
  margin-right: 24px;
  font-size: 22px;
  font-weight: 600;
}

/* Arrow */

.arrow {
  font-size: 16px;
  transition: transform 0.3s ease;
}

.card:hover .arrow {
  transform: translateX(-8px);
}

/* ================= Responsive ================= */

@media (max-width: 992px) {
  .title {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .page {
    padding-top: 120px;
  }

  .card {
    padding: 24px;
  }

  .name {
    font-size: 18px;
  }

  .icon {
    width: 50px;
    height: 50px;
  }
}