.section {
  position: relative;          /* مهم */
  padding: 80px 0;
  background-image: url('/assets/projectsApprovalsBg.jpg'); /* صحح المسار */
  background-size: contain;
  background-position: center center;
  overflow: hidden;
  margin: 80px 0;
}

/* Overlay */
.section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #161616CC; /* اللون المطلوب */
  z-index: 1;
}

/* نخلي الكونتنت فوق الـ overlay */
.section > * {
  position: relative;
  z-index: 2;
}