.section {
  padding: 120px 0;
  overflow-x: hidden;
}

/* =============================
   Background Variants
============================= */


.yellow {
  background: var(--color-yellow);
  background-image: url('../../../../public/assets/pattern_result.webp');
  background-position: cover cover;
  background-repeat: repeat-y;
  background-size: contain;
  border-radius: 32px;
}

/* =============================
   Grid
============================= */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px;
}

/* =============================
   Card
============================= */
.card {
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  cursor: pointer;

  aspect-ratio: 4 / 3;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.8s ease;
}

/* Hover Zoom */
.card:hover img {
  transform: scale(1.08);
}

/* =============================
   Overlay (فقط في الأسود)
============================= */


.dark .card:hover .overlay {
  background: rgba(0, 0, 0, 0.65);
}

/* =============================
   Overlay (ثابت على كل الصور)
============================= */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45); /* درجة السواد */
  transition: background 0.4s ease;
}

/* Hover (اختياري لو عايز تغمق أكتر) */
.card:hover .overlay {
  background: rgba(0, 0, 0, 0.6);
}

/* =============================
   Content
============================= */
.content {
  position: absolute;
  bottom: 24px;
  right: 24px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 6px;
  position: relative;
}

/* لون العنوان حسب الخلفية */
.dark .title {
  color: var(--color-yellow);
}

.dark .title::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: var(--color-yellow);
}

.yellow .title {
  color: var(--color-yellow);
}

.yellow .title::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: var(--color-yellow);
}

/* =============================
   Responsive
============================= */
@media (max-width: 992px) {
  .grid {
    grid-template-columns: 1fr;
  }
}